/*font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;*/
html {
  background-color: rgb(245, 244, 248);
}

body {
  /*width: 80%;*/
  background-color: rgb(245, 244, 248);
  /*margin: 0 auto;*/
  font-family: 'Lato', sans-serif;
}

.btn {
  margin: 2rem 1rem 0 0;
  background-color: rgb(113, 201, 177);
  border-color: rgb(113, 201, 177);
  border-width: 0.1em;
  color: rgb(61, 68, 72);
  border-radius: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.btn:hover {
  transition: all 0.25s ease;
  background-color: rgb(113, 201, 177);
  border-color: rgb(222, 252, 244);
  border-width: 0.1em;
  color: rgb(61, 68, 72);
  transform: scale(1.1);
}

.btn:active,
.btn:focus {
  box-shadow: none;
  outline: none;
}

#btn-doCalculation,
#btn-start,
#btn-callToAction {
  background-color: rgb(35, 204, 159);
  border-color: rgb(233, 200, 14);
  border-width: 0.1em;
  color: rgb(61, 68, 72);
}

#btn-doCalculation:hover,
#btn-start:hover,
#btn-callToAction:hover {
  background-color: rgb(233, 200, 14);
  border-color: rgb(245, 244, 248);
  border-width: 0.1em;
  color: rgb(61, 68, 72);
}

#div-start {
  background: rgb(245, 244, 248);
  width: 80%;
  margin: 5em auto 10em auto;
}

#div-start > div {
  padding: 2em;
  background: rgb(67, 56, 113);
  border-radius: 1em;
  height: 35rem;
}

#div-start > div > h1 {
  font-family: 'Playfair Display', serif;
  color: rgb(245, 244, 248);
}

#div-start > div > p {
  color: rgb(245, 244, 248);
}

#scn-configurePersonalData {
  width: 80%;
  margin: 5em auto 10em auto;
  background: rgb(67, 56, 113);
  color: rgb(245, 244, 248);
  border-radius: 1em;
  height: 35rem;
  scroll-behavior: smooth;
}

#scn-configurePersonalData > div {
  padding: 2rem;
}

#div-explanations {
  padding: 0 8em 0 8em;
}

#scn-calculatedData {
  background: rgb(245, 244, 248);
}

#scn-calculatedData > div > div > div > img {
  width: 100px;
  height: auto;
}

#scn-callToAction {
  background-color: rgb(170, 159, 212);
  color: rgb(6, 23, 17);
  padding: 3em 3em 3em 5em;
}

#div-callToAction {
  background-color: rgb(170, 159, 212);
  color: rgb(6, 23, 17);
  padding-bottom: 3em;
}

#explainCalculations {
  padding-bottom: 3em;
}

#heading,
.heading3-dark {
  font-family: 'Playfair Display', serif;
}

#img-person-sitting-1 {
  position: absolute;
  z-index: 10;
  top: 105px;
  right: 50px;
  width: 400px;
  height: auto;
}

.bar-green {
  height: 20px;
  width: 100%;
  margin: 0;
  margin-bottom: 4em;
  position: relative;
  left: -20rem;
  background-color: rgb(35, 204, 159);
  animation: move-in-from-left 3s ease 1;
}

.subheading {
  font-weight: bold;
}

@keyframes move-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}
